<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebDatas Display</title>
    <style>
        table
        {
            border-collapse: collapse;
            text-align: center;
            width: 550px;
        }
        th
        {
            background-color: black;
            color: whitesmoke;
        }
    </style>
</head>
<body>
    <center>
        <h1>Web Datas</h1>
        <table border="3px" cellpadding="5px" cellspacing="5px">
            <tr>
                <th>Topic Name</th>
                <th>Name</th>
                <th>URL</th>
                <th>Email</th>
            </tr>
            {% for wp in webpage %}
                <tr>
                    <td>{{wp.topic_name}}</td>
                    <td>{{wp.name}}</td>
                    <td>{{wp.url}}</td>
                    <td>{{wp.email}}</td>
                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>